@import '~style/helpers';

.background-sunny {
	display: flex;
	flex-direction: column;
	color:  #ffffff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
	//background-image: url('../../assets/backgrounds/clear-iphone.jpg');
	background-color: #FAD961;
	background-image: linear-gradient(168deg, #FAD961 0%, #F76B1C 100%);
  }
  
  .background-cloudy {
	display: flex;
	flex-direction: column;
	color:  #ffffff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
	//background-image:url('../../assets/backgrounds/cloud.gif');
	// background-color: #7d7d7d;
	// background-image: linear-gradient(146deg, #7d7d7d 0%, #bbbbbb 100%);
	// background-color: #FAD961;
	// background-image: linear-gradient(168deg, #FAD961 0%, #F76B1C 100%);
	background-color: #0093E9;
    background-image: linear-gradient(165deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .background-rainy {
	display: flex;
	flex-direction: column;
	color:  #ffffff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
	//background-image:url('../../assets/backgrounds/rain.gif');
	background-color: #0093E9;
    background-image: linear-gradient(165deg, #0093E9 0%, #80D0C7 100%);  
}
  
  .background-snowy {
	display: flex;
	flex-direction: column;
	color:  #ffffff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
	background-image: url('../../assets/backgrounds/snow.gif');
  }

.header {
	display: flex;
	flex-direction: column;
	flex: 1;

	// background colour white and opacity 0.5 with gradient
	
	//background:rgba(255, 255, 255, 0.3);
	border-radius: 0 0 10px 10px;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;	
	//text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.conditions {
	flex: 1;
	font-size: 1em;
	//text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -12px;
	//text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

//change size of icon
.iconToday {
	width: 100px;
	height: 100px;
	align-self: center;
}